*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
			/*Classes Auxiliares*/

.clear{clear: both;}
.container{
	max-width: 1280px;
	margin: 0 auto;
}
.w100{
	width: 100%;
}
.w50{
	width: 50%;
}
.w33{
	width: 33.3%;
}
.w60{
	width: 60%;
}
.w40{
	width: 40%;
}
.center{text-align: center;}
html{font-size: 10px;scroll-behavior: smooth;}
:root{
	--sombrear-titulo: 0 .3rem .5rem rgba(0,0,0,.8);
}
			/*Preloader*/
#preloader{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99;
	background-color: rgb(220,220,220);
	transition: 1s;
}
.preloader-animation{
	width: 8rem;
	height: 8rem;
	border:1rem solid transparent;
	border-radius: 50%;
	border-top: 1rem solid #77c5bd ;
	border-bottom: 1rem solid #77c5bd ;
	animation:roda 1s infinite;
}
@keyframes roda{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform : rotate(360deg);
	}
}
			/*para o topo*/
#link-topo{
	position: fixed;
	right: 2rem;
	bottom: 2rem;
	width: 4rem;
	height: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: white;
	background-color: #77c5bd;
	border-radius: 50%;
	border:2px solid #237a70;
	z-index: 84;
}
#link-topo i{
	font-size: 3rem;
}
#link-topo:hover{
	opacity: .6;
}
			/*Cabeçalho*/

header{
	padding: 1rem 0;
}
header > .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .5rem 2rem;
}
.logo h2{
	font-weight: normal;
	font-size: 2.6rem;
}
.logo a{
	color: black;
	text-decoration: none;
	text-shadow: 0 .1rem .1rem rgba(0,0,0,.4); 
}
.menuDesktop li{
	display: inline-block;
	padding: 0 2.4rem;
}
.menuDesktop li.selected{
	font-weight: bolder;
}
.menuDesktop a{
	font-size: 1.6rem;
	padding-bottom: .5rem; 
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	transition: .1s;
	text-shadow: 0 .2rem .2rem rgba(0,0,0,.2);
}
a.selected{
	color: #77c5bd;
}
.menuDesktop a:hover{
	border-bottom: 5px solid #77c5bd;	
}
				/*Menu mobile*/
nav.menu-mobile{
	display: none;
}
.menu-mobile i{
	font-size: 2.5rem;
}
nav.menu-mobile h2{
	cursor: pointer;
}
nav.menu-mobile ul{
	width: 100%;
	background-color: white;
	position: absolute;
	left: 0;
	top: 5rem;
	z-index: 2;
	text-align: center;
	display: none;
}
nav.menu-mobile li{
	padding: .8rem 0;
	border-bottom: .1rem solid black;
}
nav.menu-mobile li.selected{
	background-color: rgb(225,225,225);
}
nav.menu-mobile a{
	text-transform: uppercase;
	display: block;
	color: black;
	text-decoration: none;
	font-size: 2rem;
}
nav.menu-mobile a.selected{
	color: #77c5bd;
}
			/*Section principal*/

section.principal{
	position: relative;
	width: 100%;
	height: calc(100vh - 66px);
	background-image: url("../images/bg1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.principal .overlay{
	z-index: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	left: 0;
	top: 0;
}
.principal .container{
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-shadow: var(--sombrear-titulo);
}
.principal h2{
	color: #77c5bd;
	font-size: 4rem;
	font-weight: bolder;
	margin-bottom: 1rem;
	opacity: 0;
}
.principal p{
	color: white;
	font-size: 1.7rem;
	text-align: left;
	margin: 0 10%;
	opacity: 0;
}
.principal .container a{
	width: 15rem;
	height: 4.5rem;
	background-color: #3f929b;
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 1.9rem;
	cursor: pointer;
	box-shadow: var(--sombrear-titulo);
	transition: .3s;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	opacity: 0;
}

.principal h2{
	animation: chegando 1s 0.5s forwards;
}
.principal p{
	animation: chegando 1s 0.7s forwards;
}
.principal .container a{
	animation: chegando 1s 0.9s forwards;
}
@keyframes chegando{
	0%{
		transform: translateY(10rem) rotateY(-30deg);
	}
	100%{
		transform: translateY(0rem) rotateY(0);
		opacity: 1;
	}
}
.principal .container a:hover{
	opacity: .8;
	color: black;
}
				/*Experiencia do usuario*/

section.expUsuario{
	text-align: center;
	padding: 3rem 0;	
}
.linhaDCima{
	color: #77c5bd;
	display: inline-block;
	position: relative;
}
.linhaDCima div{
	position: absolute;
	left: .3rem;
	top: 0;
	width: 14rem;
	height: .4rem;
	background-color: #77c5bd;
}
.linhaDCima h2{
	font-size: 3rem;
	font-weight: normal;
}
.expUsuarioIcones {
	padding: 3rem 0;
	color: #8e675b;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.singleBox{
	width: 33.3%;
	padding: 0 1rem;
	margin-bottom: 2rem;
}
.singleBox:nth-child(2){
	border-right: 2px dashed #77c5bd;
	border-left: 2px dashed #77c5bd;
}
.singleBox h2{
	font-size: 9rem;
}
.singleBox p{
	font-size: 1.6rem;
	text-shadow: 0rem .1rem .1rem rgba(0,0,0,.4);
}
			/*Equipe e sobre*/

section.equipeSobre {
	padding: 3rem 0;
	background-color: #e1e1e1;
}
.equipeSobre > 	 .container{
	display: flex;
	flex-wrap: wrap;
}
.equipeContainer{
	width: 50%;
	margin: 0 auto;
}
.avatar{
	padding-top: 1.5rem;
	padding-left: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.imgAvatar{
	display: inline-block;
	width: 7rem;
	height: 7rem;
	border-radius: 50%;
	background-size: 100% 100%;
	background-color: gray;
}
.descricaoAvatar{
	padding-left: 1rem;
	display: inline-block;
	width: calc(100% - 7rem);
}
.descricaoAvatar h3{
	font-size: 2.2rem;
	font-style: italic;
	font-weight: normal;
}
.descricaoAvatar p{
	padding-left: .5rem;
	font-size: 1.5rem;
	font-weight: lighter;
}
.sobreContainer{
	width: 50%;
}
.sobreContainer p{
	color: black;
	font-size:1.5rem;
	margin-top: 1rem;
}
				/*Sessao inscricao*/

section.inscricao{
	background-color:	#77c5bd;
	padding: 2rem 0;
}
.inscricao > .container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.inscricaoTexto{
	font-size: 2rem;
	color: white;
	font-weight: normal;
}
.inscricaoForm input[type=email]{
	display: inline-block;
	width: calc(100% - 12rem);
	height: 4rem;
	background-color: white;
	border: .1rem solid #ccc;
}
.inscricaoForm input[type=submit]{
	display: inline-block;
	width: 12rem;
	height: 4rem;
	background-color: #1d6c64;
	color: white;
	cursor: pointer;
	border:none;
	font-size: 1.8rem;
}
.inscricaoForm input[type="submit"]:hover{
	opacity: .9;
	color: black;
	transition: .3s;
}
				/*Galeria de cards*/
section.cards{
	padding: 4rem 0;
}
.cards > .container{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.card-item{
	/*padding: 0 1rem;*/
	max-width: 30%;
	text-align: center;
	border: 2px solid gray	/*#77c5bd*/;
	box-shadow: 0 0.2rem 0.3rem rgba(0,0,0, 0.5);
	transition: 2.3s;
}
.card-item:hover{
	max-width: 40%;
}

.card-item h3{
	font-weight: bolder;
	font-size:2rem;
	margin-bottom: 1rem;
	border-bottom: 1px dotted gray;
}
.card-item img{
	max-width: 100%;
	max-height: 100%;
	cursor: pointer;
}
.card-item p{
	font-size: 1.6rem;
	padding: 0 1rem 1rem;
}
				/*Footers*/
footer.footer1{
	padding: 3rem 0;
	background-color: #77C5BD;
	text-align: center;
}
.footer1 > .container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.footer-item{
	color: white;
}
.footer-item h3{
	font-weight: bold;
	font-size:2.2rem;
}
.footer-item p{
	font-size:1.6rem;
	font-weight: normal;
}
.footer-item a{
	text-decoration: none;
	color: white;
}
.footer-item a:hover{
	transition: .5s;
	color: black;
}
.footer-icons p:nth-child(1) a:hover{
	color: #0c135e;
}
.footer-icons p:nth-child(2) a:hover{
	color: #f77737;
}
.footer-item > .footer-icons p{
	display: inline-block;
	font-size: 3rem;
}
footer.footer2{
	padding: 1.2rem;
	background-color: #237a70;
}
.footer2 p{
	font-size:1.6rem;
	color: white;
	text-align: center;
}
														/*Segunda pagina!!
				Sobre       	*/
section.title-page{
	padding: 3rem;
	width: 100%;
	min-height: 20rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.title-page > .container{
	position: relative;
	z-index: 1;
}
.overlay__title-page{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
	z-index: 0;
}
section.title-page h2{
	color: #44d4c5;
	font-size: 3.5rem;
	font-weight: normal;
	text-shadow: var(--sombrear-titulo);
}
section.title-page p{
	color: white;
	font-size: 1.7rem;
	text-shadow: var(--sombrear-titulo);
}
				/*Noticia*/

section.sobre__noticia{
	padding: 3rem 0;
}
.sobre__single-news img{
	max-width: 100%;
	float: left;
	width: 48%;
}
.sobre__single-news p{
	padding: 1rem 1.5rem; 
	float: left;
	width: 48%;
	font-weight: normal;
	line-height: 2.5rem;
	text-align: justify;
	font-size: 1.6rem;
}
.sobre__paragrafo-noticias p{ 
	float: left;
	font-weight: normal;
	line-height: 2.5rem;
	text-align: justify;
	font-size: 1.6rem;
}
				/*Parallax*/

section.sobre__parallax{
	padding: 3rem 0;
	width: 100%;/*Devido a alguns navegadores, caso for usar o parallax deve-se definir a width*/
	min-height: 20rem;
	background-image: url('../images/img1.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	position: relative;
}

.sobre__parallax > .container{
	position: relative;
	z-index: 1;
}
.sobre__parallax p{
	margin: 1rem 0;
	font-size: 1.6rem;
	color: white;
	text-shadow: var(--sombrear-titulo);
}
.sobre__parallax h2{
	border:.1rem solid #44d4c5;
	padding: .5rem 0;
	color: #44d4c5;
	text-align: center;
	display: block;
	font-size: 2.5rem;
	box-shadow: var(--sombrear-titulo);
	text-shadow: var(--sombrear-titulo); 
}
				/*Section equipe*/
section.sobre__equipe{
	padding: 3rem 0;
}
.sobre__circles{
	margin-top: 1.5rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.circles-singles{
	text-align: center;
	padding: 0 2rem;
	width: 32%;
}
.circles-singles h3{
	margin-top: .8rem;
	font-weight: normal;
	font-size: 2.3rem; 
}
.circles-singles p{
	font-size: 1.6rem;
}
.avatar-single{
	position: relative;
	width: 60%;
	padding-top: 60%;
	margin: 0 auto;
}
.avatar-single-container{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 50%;
	background-color: #ccc;
	background-size: 100% 100%;
}
				/*Final*/
				
section.sobre__final{
	background-color: rgba(225,225,255);
	border-top: .2rem solid rgb(210,210,210);
	padding: 2rem 0;
}
.sobre__final > .container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}
.sobre__final p{
	margin-top: 1.2rem;
	font-size: 1.6rem;
}
.sobre__final h2{
	margin-bottom: 1rem;
}
.card-text{
	position: relative;
}
.card-text img{
	max-width: 80%;
}
.card-text h3{
	position: absolute;
	left: 1rem;
	bottom: 1rem;
	font-weight: normal;
	font-size: 2rem;
	color: white;
}
												/*Página contato
				Painel								*/
section.contato__title-page{
	min-height: 16rem;
	padding: 3rem 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}
.contato__title-page > .container{
	position: relative;
	z-index: 1;
}
.contato__title-page h2{
	color: #44d4c5;
	font-size: 3.5rem;
	font-weight: normal;
	text-shadow: var(--sombrear-titulo);
}
.contato__title-page p{
	color: white;
	font-size: 1.7rem;
	font-weight: normal;
	text-shadow: var(--sombrear-titulo);
}
				/*Contato*/
section.contato__contato{
	padding: 3rem 0;
}
section.contato__contato .w50,.w100{
	padding: 0 1rem; 
}
.contato__contato > .container{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
}
.formulario form{
	display: flex;
	flex-wrap: wrap;
	/*flex-direction: column;*/
	justify-content: center;
}
.formulario h2{
	font-size: 2.2rem;
	text-align: center;
	background-color: #DDDDDD;
	color: #acac9d;
	padding: .4rem 0;
	margin-bottom: .5rem;
}
.formulario form div{
	display: inline-block;
}
.formulario input[type=text],input[type=email]{
	width: 100%;
	height: 3.5rem;
	border: 1px solid #ccc;
	padding-left: .5rem;
	margin: .5rem 0; 
}
.formulario textarea{
	width: 100%;
	height: 12rem;
	border: 1px solid #ccc;
	padding-left: .5rem; 
	resize: vertical;
	margin: .5rem 0;
}
.formulario input[type=submit]{
	width: 13rem;
	height: 4rem;
	background-color: #249b8f;
	border: none;
	color: white;
	font-size: 1.9rem;
	float: right;
	cursor: pointer;
	display: inline-block;
}
.formulario input[type=submit]:hover{
	color: black;
	opacity: .9;
	transition: .3s;
}
.tags-form h2{
	font-size: 1.6rem;
	text-align: center;
	font-weight: normal;
	padding: 1rem 0;
}
.tags-form p{
	font-size: 1.6rem;
	text-align: center;
	font-weight: lighter;
	padding: .8rem 0;
}
.tags-form p.tags{
	color: white;
	background-color: #249b8f;
	text-align: center;
	padding: .6rem 0; 
	margin-bottom: 1rem;
}
				/*Responsividade*/

@media screen and (max-width: 780px){

	
	.formulario input[type=text]{
		margin-bottom: 0; 
	}
	
	section.contato__contato .w100{
		margin-bottom: 1rem;
	}
	.tags-form{
		margin-top: 1rem;
		border-top: 4px dashed #ccc;
	}
	.sobre__final .w50{
		text-align: center;
	}
	.sobre__final .w50 img{
		text-align: left;
		display: block;
		margin-bottom: 1rem;
	}
	.w50,.w33{
		width: 100%;
		margin-bottom: 1rem;
	}
	.w60,.w40{
		width: 100%;
		margin-bottom: 0rem;
	} 
	.container{
		padding: 0 2%;
	}
				/*Pagina Home*/	

	.principal .container input{
		margin: 5rem 0;
		width: 15rem;
		height: 5rem;
		font-size: 2rem;
	}
	.principal .container p{
		margin: 0 2% 2rem;
		text-align: center;	
	}
	.inscricao > .container .w50{
		width: 100%;
	}
	.cards > .container{
		flex-direction: row;
		justify-content: center;
	}
	.card-item{
		max-width: 40%;
		margin: 1rem;
	}
	.card-item:hover{
		max-width: 50%;
	}
	.expUsuarioIcones .singleBox{
		width: 100%;
		border: 0;
	}
	.equipeContainer{
		width: 100%;
		padding-bottom: 2rem;
	}
	.sobreContainer{
		width: 100%;
		padding-top: 2rem;
	}
					/*Sobre pagina*/

	.contato__title-page h2,
	.contato__title-page p{
		text-align: center;
	}
	section.title-page h2{
		text-align: center;
	}
	.sobre__single-news img{
		width: 100%;
	}
	.sobre__single-news p{
		width: 100%;
	}
	.sobre__paragrafo-noticias p{
		padding: 0 2rem;
	}
	.circles-singles{
		width: 45%;
	}
	
}

@media  screen and (max-width: 500px){
			/*home*/
	section.principal{
		height: auto;
	}
	/*.principal .container{
		min-height: 
	}*/
	.principal .container h2{
		font-size: 3rem;
		padding: 1rem 0;
	}
	.principal .container p{
		font-size: 1.5rem;
		padding: 0 0 1rem;	
	}
	.principal .container a{
		margin-bottom: 2rem;
	}
	.card-item{
		max-width: 95%;
		padding: 0; 
	}
	.card-item:hover{
		max-width: 95%;
	}

			/*sobre*/
	.title-page .container p{
		text-align: center;
	}
	.sobre__parallax .container{
		text-align: center;
	}
	.sobre__parallax p{
		text-align: center;
	}
	.circles-singles{
		width: 100%;
		padding: 1rem 0rem;
	}
	.card-text img{
		max-width: 100%;
	}

	nav.menuDesktop{display: none;}
	nav.menu-mobile{
		display: block;
	}

}