*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
			/*Classes Auxiliares*/

.clear{clear: both;}
.container{
	max-width: 1280px;
	margin: 0 auto;
}
.w50{
	width: 50%;
	float: left;
}
.w33{
	width: 32%;
	float: left;
}
.center{text-align: center;}
			/*Cabeçalho*/

header{
	padding: 10px 0;
}
.logo{
	float: left;
}
.logo h2{
	font-weight: normal;
	font-size: 23px;
}
nav.menuDesktop{
	float: right;
}
.menuDesktop ul{
	position: relative;
	top: 9px;
}
.menuDesktop li{
	display: inline-block;
	padding: 0 24px;
}
.menuDesktop li.selected{
	font-weight: bolder;
	text-decoration: underline;
}
.menuDesktop a{
	color: black;
	text-decoration: none;
	font-weight: lighter;
}
.menuDesktop a:hover{
	text-decoration: underline;
}
				/*Menu mobile*/
nav.menu-mobile{
	display: none;
	float: right;
}
nav.menu-mobile h2{
	cursor: pointer;
}
nav.menu-mobile ul{
	width: 100%;
	background-color: white;
	position: absolute;
	left: 0;
	top: 50px;
	z-index: 2;
	text-align: center;
	display: none;
}
nav.menu-mobile li{
	padding: 8px 0;
	border-bottom: 1px solid black;
}
nav.menu-mobile li.selected{
	background-color: rgb(225,225,225);
}
nav.menu-mobile a{
	display: block;
	color: black;
	text-decoration: none;
}
			/*Section principal*/

section.principal{
	position: relative;
	width: 100%;
	padding: 120px 0 180px 0;
	background-image: url("../images/bg1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
}
.principal h2{
	color: #77c5bd;
	font-size: 40px;
	font-weight: bolder;
}
.principal p{
	color: white;
	font-size: 17px;
	padding-top: 18px;
	text-align: left;
}
.principal .container{
	position: relative;
	z-index: 1;
}
.principal .overlay{
	z-index: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	left: 0;
	top: 0;
}
.principal .container input{
	width: 130px;
	height: 40px;
	background-color: #3f929b;
	border: none;
	color: white;
	font-size: 19px;
	float: right;
	margin: 50px 10%;
	cursor: pointer;
}
				/*Experiencia do usuario*/

section.expUsuario{
	text-align: center;
	padding: 30px 0;
}
.linhaDCima{
	color: #77c5bd;
	display: inline-block;
	position: relative;
}
.linhaDCima div{
	position: absolute;
	left: 3px;
	top: 0;
	width: 140px;
	height: 4px;
	background-color: #77c5bd;
}
.linhaDCima h2{
	font-size: 27px;
	font-weight: normal;
}
.expUsuario .expUsuarioIcones {
	padding: 30px 0;
	color: #8e675b;
}
.expUsuario .expUsuarioIcones .singleBox{
	float: left;
	width: 32%;
	padding: 0 10px;
	margin-bottom: 20px;
}
.expUsuario .expUsuarioIcones .singleBox h2{
	font-size: 90px;
}
.expUsuario .expUsuarioIcones .singleBox p{
	font-size: 16px;
}
			/*Equipe e sobre*/

section.equipeSobre {
	padding: 30px 0;
	background-color: #e1e1e1;
}
.equipeSobre .container{
	display: flex;
	flex-wrap: wrap;
}
.equipeSobre .equipeContainer{
	width: 50%;
}
.avatar{
	padding: 15px 0 0 15px;
}
.imgAvatar{
	display: inline-block;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-size: 100% 100%;
	background-color: gray;
}
.descricaoAvatar{
	padding-left: 10px;
	display: inline-block;
	width: calc(100% - 70px);
}
.descricaoAvatar h3{
	font-style: italic;
}
.descricaoAvatar p{
	font-weight: lighter;
}
.equipeSobre .sobreContainer{
	width: 50%;
}
.equipeSobre .sobreContainer p{
	color: black;
	font-size:15px;
	margin-top: 10px;
}
				/*Sessao inscricao*/

section.inscricao{
	background-color:	#77c5bd;
	padding: 20px 0;
}
.inscricaoTexto{
	color: white;
	font-weight: normal;
}
.inscricaoForm input[type=email]{
	display: inline-block;
	width: calc(100% - 120px);
	height: 40px;
	background-color: white;
	border: 1px solid #ccc;
}
.inscricaoForm input[type=submit]{
	display: inline-block;
	width: 120px;
	height: 40px;
	background-color: #1d6c64;
	color: white;
	cursor: pointer;
	border:none;
	font-size: 18px;
}
				/*Galeria de cards*/
section.cards{
	padding: 40px 0;
}
.card-item{
	padding: 0 50px;
}
.card-item h3{
	font-weight: bolder;
	font-size:20px;
	margin-bottom: 10px;
}
.card-item img{
	max-width: 100%;
	max-height: 100%;
}
				/*Footers*/
footer.footer1{
	padding: 30px 0;
	background-color: #77C5BD;
	text-align: center;
}
.footer-item{
	color: white;
}
.footer-item h3{
	font-weight: normal;
	font-size:20px;
}
.footer-item p{
	font-size:15px;
	font-weight: lighter;
}
.footer-item a{
	text-decoration: none;
	color: white;
}
.footer-item > .footer-icons p{
	display: inline-block;
	font-size: 30px;
}
footer.footer2{
	padding: 12px;
	background-color: #237a70;
}
.footer2 p{
	font-size:16px;
	color: white;
	text-align: center;
}
														/*Segunda pagina!!
				Sobre       	*/
section.title-page{
	padding: 30px;
	width: 100%;
	min-height: 200px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.title-page > .container{
	position: relative;
	z-index: 1;
}
.overlay__title-page{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
	z-index: 0;
}
section.title-page h2{
	color: #44d4c5;
	font-size: 35px;
	font-weight: normal;
}
section.title-page p{
	color: white;
	font-size: 17px;
}
				/*Responsividade*/

@media screen and (max-width: 780px){
	.w50,.w33{
		width: 100%;
		margin-bottom: 20px;
	} 
	.container{
		padding: 0 20px;
	}
	.principal .container input{
		margin: 50px 0;
		width: 150px;
		height: 50px;
		font-size: 20px;
	}
	.expUsuario .expUsuarioIcones .singleBox{
	width: 100%;
	}
	.equipeSobre .equipeContainer{
		width: 70%;
		padding-bottom: 20px;
	}
	.equipeSobre .sobreContainer{
		width: 100%;
		padding-top: 20px;
	}
}
@media screen and (max-width: 500px){
	nav.menuDesktop{display: none;}
	nav.menu-mobile{
		display: block;

	}
}